<link rel='stylesheet' href='/stylesheets/list-tickets.css'>

<h1>All Tickets</h1>

<div class="container">
  <%@tickets["tickets"].each do |ticket|%>
    <a href="/ticket-info?id=<%=ticket["id"]%>" class="list-link">
      <div class="ticket-card">
        <p class="subject">Subject: <%=ticket["subject"]%></p>
        <p class="status">Status: <%=ticket["status"]%></p>
      </div>
    </a>
  <% end %>
</div>


<div class="container">
  <%if @tickets["previous_page"] %> 
    <form action="/ticket-list/paginate">
      <input type="hidden" name="link" value="<%=@tickets["previous_page"]%>">
      <button class="button-look">Previous Page</button>
    </form>
  <% end %> 

  <%if @tickets["next_page"] %> 
    <form action="/ticket-list/paginate">
      <input type="hidden" name="link" value="<%=@tickets["next_page"]%>">
      <button class="button-look">Next Page</button>
    </form>
  <% end %> 

  <a class="button-look" href="/">Home</a>
</div>

